src/main/mule/oracle-final-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="oracle-aq-consumerFlow" doc:id="f71f77e0-62ff-4ff4-8ea3-43057ae4e7b2">
		<http:listener doc:name="Listener" doc:id="c10fc1ba-f33a-4be3-95c3-1408cce91ded"
			config-ref="HTTP_Listener_config" path="/api" />
		<jms:consume doc:name="Consume" doc:id="c12572e5-b851-4699-aae5-555d78d1b8a0" config-ref="JMS_Config"
			ackMode="IMMEDIATE" maximumWait="30000" destination="Q_AQ_EVENT">
			<jms:consumer-type>
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:consume>
		<logger level="INFO" doc:name="Logger" doc:id="83b4be04-d014-4583-8a62-79fea5f57adf"
			message="#[%dw 2.0
output application/java
---
payload.JMSMessageID]" />
	</flow>
	<flow name="oracle-final-testFlow" doc:id="7a234294-7f15-4415-8738-486083d920b4">
		<jms:listener doc:name="Listener" doc:id="a06ecdd4-bbe5-4389-9346-bd88a442bbca" config-ref="JMS_Config"
			ackMode="AUTO" destination="Q_AQ_EVENT">
			<jms:consumer-type>
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="874904d3-6d1b-4fa6-a730-b18d89a9fe59" message="#[payload]" />
	</flow>
</mule>
